<%= form_for @laptop do |laptop| %>
<p>
	<%= laptop.label :brand %></br>
	<%= laptop.text_field :brand %>
</p>

<p>
	<%= laptop.label :model %></br>
	<%= laptop.text_field :model %>
</p>
<p>
	<%= laptop.label :processorBrand %></br>
	<%= laptop.text_field :processorBrand %>
</p>

<p>
	<%= laptop.label :ram %></br>
	<%= laptop.text_field :ram %>
</p>
<p>
	<%= laptop.label :price %></br>
	<%= laptop.text_field :price %>
</p>
	<%= laptop.submit %>

<% end %>

<%= link_to 'Back', laptops_path %>