<div><strong>Brand: </strong>
	<%= @laptops.brand %></div>
	<div><strong>Model: </strong>
	<%= @laptops.model %></div>
	<div><strong>Processor Brand: </strong>
		<%= @laptops.processorBrand %></div>
	<div><strong>RAM</strong>
		<%= @laptops.ram %> GB</div>
	<div><strong>Price: </strong>
		<%= @laptops.price %></div>